.block__title {
  box-sizing: border-box;
  height: 138px;
  width: 90%;
  max-width: 508px;
  text-align: center;
  font-size: 23px;
  font-weight: normal;
  line-height: 1.2;
  padding: 40px 40px;
  border: 1px solid #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
  word-spacing: 5px;
  text-transform: uppercase;
}

@media (max-width: 1500px) {
  .block__title {
    height: 108px;
    max-width: 470px;
    font-size: 20px;
    padding: 30px 40px;
  }
}

@media (max-width: 975px) {
  .block__title {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 83px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
  }
}
