.contacts__button {
  background-color: #ffffff00;
  border-radius: 30px;
  border: solid 1px #fff;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s;
}

.contacts__button:hover {
  transform: scale(1.05);
}

.contacts__button:active {
  transform: scale(0.95);
}
