.nav__item_center {
  padding: 20px 35px;
  position: absolute;
  border: 1px solid #FFFFFF;
  width: 360px;
  bottom: -45px;
  left: 50%;
  margin-left: -180px;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 21px;
}

@media (max-width: 975px) {
  .nav__item_center {
    width: 238px;
    margin-left: -119px;
    padding: 15px;
    font-size: 14px;
    line-height: 16px;
    height: 63px;
    bottom: -32px;
  }
}
