.page-title__years_main {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.1em;
}

@media (max-width: 975px) {
  .page-title__years_main {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.15em;
  }
}
