.body {
  padding: 0;
  margin: 0;
  background-color: #041a3b;
  font-size: 18px;
  font-family: "regular", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: #fff;
  min-width: 320px;
}
