.block__content {
  width: 90%;
  margin: 0 auto;
  max-width: 1120px;
  line-height: 23px;
  text-align: justify;
}

@media (max-width: 1500px) {
  .block__content {
    font-size: 14px;
  }
}

@media (max-width: 975px) {
  .block__content {
    font-size: 18px;
    line-height: 1.5;
  }
}
