.arrow-top {
  display: none;
}

@media (max-width: 975px) {
  .arrow-top {
    background: url(/images/top-arrow.svg) no-repeat center center;
    cursor: pointer;
    background-size: contain;
    width: 22px;
    height: 18px;
    position: relative;
    display: block;
    margin-bottom: 5px;
  }
}
