.footer__link {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  transition: all 0.5s;
  text-decoration: none;
  margin: 0;
}

.footer__link:hover {
  opacity: 0.5;
}

@media (max-width: 975px) {
  .footer__link {
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 17px;
  }
}
