@media (max-width: 975px) {
  .header-mobile__span_active:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 0;
  }

  .header-mobile__span_active:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .header-mobile__span_active:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 0;
  }
}
