.block {
  padding-top: 139px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/images/background.jpg") no-repeat center center;
  background-size: cover;
}

@media (max-width: 1500px) {
  .block {
    padding-top: 160px;
  }
}

@media (max-width: 975px) {
  .block {
    padding-top: 10px;
    height: auto !important;
  }

  .block:last-child {
    border-bottom: none;
    padding-bottom: 100px;
  }
}
