.form__input {
  border: none;
  box-sizing: border-box;
  padding: 13px 5px 0;
  border-radius: 10px;
  background-color: #F0F0E9;
  color: #000000;
  width: 400px;
  max-width: 100%;
  align-self: start;
}

.form__input::placeholder {
  color: #939393;
}

.form__input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
.form__input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
