.contacts__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 975px) {
  .contacts__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
