.contacts__mail {
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  transition: all 1s;
  text-decoration: none;
}

.contacts__mail:hover {
  opacity: 0.5;
}

@media (max-width: 975px) {
  .contacts__mail {
    font-size: 11px;
    line-height: 1.2;
    color: #FFFFFF;
    transition: all 1s;
    text-decoration: none;
  }
}
