.contacts__span {
  line-height: 18px;
  width: 1px;

  height: 100%;
  background: #FFFFFF;
  margin: 0 10px;
}

@media (max-width: 975px) {
  .contacts__span {
    line-height: 13px;
    width: 1px;
    flex-basis: 1px;
    height: 100%;
    background: #FFFFFF;
    margin: 0 10px;
  }
}
